.mGraph-wrapper{
  width: 1200px;
  height:250px;
    background: #fff;
   // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.nursing-by-age{
    width: 800px;
    height: 250px;
    display: flex;
    flex-grow: 1;
  //  overflow: hidden;
  }